@import "/src/extention";

.wrapper {
  width: 60vw;
  height: 40vh;
  border-radius: 11px;
  display: flex;
  margin-top: 6vh;
  background: #EFF0F0;

  padding-top: 4vh;

  .brands {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 53%;
    margin-right: 5%;
    margin-left: 7%;
    opacity: 1;

    .active {
      color: $priceGrey;
      text-decoration: underline;
    }
  }

  .input {
    width: 35%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;

    .selects {
      display: flex;
      justify-content: space-between;
      width: 85%;
      height: 17%;

      select {
        width: 48%;
        padding: 0 20px;
        border-radius: 6px;
        border: 1px solid #E1E1E1;

        &:focus {
          border: none;
        }

        &:hover {
          border: none;
        }
      }
    }

    button {
      width: 85%;
      border: none;
      background: $mainRed;
      color: white;
      height: 20%;
      border-radius: 6px;
    }
  }


}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    width: 95vw;
  }

  .selects {
    select {
      font-size: 11px;
    }
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wrapper {
    height: 85vh;
    display: block;
    width: 80vw;

    .brands {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-right: 5%;
      margin-left: 0;
      opacity: 1;

      p {
        width: 32%;
        text-align: center;
      }
    }

    .input {
      width: 100%;
      align-items: center;
      height: 50%;

      .range {
        width: 90%;
        margin-left: 2.7rem;
      }

      .selects {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 97%;
        height: 18vh;
        margin-top: 3vh;

        select {
          width: 90%;
          height: 7vh;
        }
      }

      button {
        height: 16%;
      }
    }

  }
}