.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:left ;

  .cars{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 10vh;
  }

  .outStock{
    margin: 10vh 0;
  }

  button{
    width: 10vw;
    border: none;
    background: #CA0100;
    color: white;
    height: 5vh;
    border-radius: 6px ;
  }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
  .wrap{
    .cars{
      width: 85vw;
    }

    button{
      width: 20vw;
      height: 5vh;
    }
  }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
  .wrap{
    .cars{
      width: 85vw;
      justify-content: center;
    }

    button{
      width: 40vw;
      height: 5vh;
    }
  }
}


